.content{
    margin-bottom: 1rem;
}
.account-name{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.link{
    margin-bottom: 1rem;
}
.link-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-decoration: none;
    text-align: left;
    color: #000000;
}
.link-text:hover{
    color: #FFB800;
}
.link-text-active{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-decoration: none;
    text-align: left;
    color: #00575C;
}
.link-text-active:hover{
    color: #FFB800;
}
.link-text-logout{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-decoration: none;
    text-align: left;
    color: #00575C;
}
.link-text-logout:hover{
    color: #FFB800;
}
.information{
    padding: 2rem;
    background-color: white;
}
.information>p{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
    color: #00575C;
}
.form-label{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.text-inf{
    font-weight: 400;
}

#hiddenForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 700px;
    max-width: 90%;
}
#hiddenForm h5 {
    color: #333333;
    margin-top: 0;
}
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #888888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: #333333;
}
.voucher {

    padding: 10px; /* Thêm padding để tạo khoảng cách giữa các phần tử con */
    border: 1px solid #ccc; /* Thêm viền để phân biệt giữa các phần tử */
    border-radius: 5px; /* Bo tròn các góc */
    margin-bottom: 10px; /* Khoảng cách giữa các phần tử voucher */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.radio-container {
    display: flex;
    align-items: center;

}

/* Ẩn radio input */
.radio-input {
    display: none;

}

/* Thiết lập kiểu cho nhãn */
.radio-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #00575C;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #00575C;
    color: white;
    width: 80px; /* Đặt chiều rộng cố định cho cả hai nhãn */
    text-align: center;
}

/* Kiểu khi radio được chọn */
.radio-input:checked + .radio-label {
    background-color: #bc8a09;
    color: white;
}

/* Kiểu khi di chuột qua */
.radio-label:hover {
    background-color: #bc8a09;
}
